/* Stile base per il body dell'intera pagina */
body {
    font-family: Arial, sans-serif;     /* Font principale */
    background-color: #000000;          /* Sfondo nero */
    color: white;                       /* Testo bianco */
    padding-top: 100px;                 /* Spazio sopra per non coprire contenuto con header */
    padding-bottom: 80px;              /* Spazio sotto per non coprire contenuto con footer */
}

/* Header fisso in alto */
header {
    width: 100%;
    background-color: #8B2635;         /* Colore rosso scuro */
    padding: 10px 20px;
    display: flex;                     /* Disposizione flex */
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #000000;
    z-index: 100;                      /* Sta sopra gli altri elementi */
}

/* Contenitore top-header */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 500px;
    flex-wrap: nowrap;                   /* Va a capo se lo spazio finisce */
}

/* Contenitore del logo */
.logo-container {
    flex: 1;
}
.logo-container img {
    height: 60px;                      /* Altezza logo */
}

/* Sezione centrale dell'header */
.center-section {
    flex: 2;
    text-align: center;
    max-width: 400px;  /* evita che invada tutto */
}

/* Contenitore barra di ricerca */
 {
    position: relative;
    width: 60%;
    max-width: 400px;
    margin: 0 auto;
}
.search-container input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
}

/* Suggerimenti di ricerca */
.suggestions {
    top: 36px;
    left: 0;
    right: 0;
    background-color: black;
    border: 1px solid #ffffff;
    z-index: 10;
}
.suggestions div {
    padding: 5px;
    cursor: pointer;
}
.suggestions div:hover {
    background-color: #8B2635;
}

/* Barra dei filtri (categorie musicali ad esempio) */
.filter-bar {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
    border-top: 1px solid white;
    padding-top: 10px;
}
.filter {
    position: relative;
    padding: 5px 10px;
    border: 1px solid black;
    overflow: visible;
}

.filter > a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

/* Dropdown che appare al passaggio del mouse */
.dropdown {
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    background-color: black;
    border: 1px solid #ffffff;
    min-width: 120px;
    z-index: 9999;
}
.dropdown a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #ffffff;
}
.dropdown a:hover {
    background-color: #8B2635;
}
.filter:hover .dropdown {
    display: block; /* Mostra il dropdown al passaggio del mouse */
}

/* Sezione destra dell'header con i bottoni login/signup */
.right-section {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* TITOLI SEZIONE (es: Novità, Prodotti più acquistati) */
main h2 {
    font-size: 2rem;
    color: #222;
    text-align: left;
    margin: 60px 0 20px 40px;
    border-left: 5px solid #e63946;
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

/* bottone aggiungi dei prodotti */
.btn-aggiungi {
    background-color: #8B2635;
    color: white;
    border: 4px;
    border-radius: 6px;
    padding: 4px 8px;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn-aggiungi:hover {
    background-color: #a13245;
}

.btn-elimina{
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #ff0;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
    display: inline-block;
    transition: background-color 0.3s;
}

a.btn-elimina:hover {
    background-color: #8B2635;
    color: #fff;
}

/* Stile base per bottoni */
.btn {
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

.card-btn{
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    transition: background-color 0.3s;
}

a.card-btn:hover {
    background-color: #8B2635;
    color: #fff;
}

/* Bottone login (bordo nero, sfondo trasparente) */
.login-btn {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
}

/* Bottone signup (sfondo nero, testo bianco) */
.signup-btn {
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    transition: background-color 0.3s;
}

a.signup-btn:hover {
    background-color: #8B2635;
    color: #fff;
}

/* Footer fisso in basso */
.footer-bar {
    width: 100%;
    background-color: #222;
    padding: 15px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
}
.footer-bar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

/* Menu utente (es. dopo login) */
.user-menu {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #fff;
    border: 1px solid #444444;
    color: black;
    border-radius: 5px;
    padding: 10px;
    z-index: 30;
}
.user-menu.show {
    display: block; /* Mostrato quando ha la classe .show */
}

/* Link stile bottone per navbar e footer */
a.btn-link {
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    transition: background-color 0.3s;
}

a.btn-link:hover {
    background-color: #8B2635;
    color: #fff;
}

/* Contenitore interno della card */
.box {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
}

/* Immagine del prodotto */
.product-img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Titolo del prodotto */
.box h3 {
    color: white;
    font-size: 16px;
    margin: 0 0 5px;
}

/* Descrizione del prodotto */
.box p {
    color: #ffff;
    font-size: 13px;
    margin: 3px 0;
    flex-grow: 1;
}

/* Link all'interno della card (es. "Scopri di più") */
.box a {
    text-decoration: none;
    background-color: #8B2635;
    color: white;
    padding: 6px;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
    font-size: 13px;
    margin-top: 6px;
}

/* MEDIA QUERY: per schermi piccoli (telefono) */
@media (min-width: 481px) and (max-width: 1024px) {

    .top-header{
        gap: 130px
    }

    .header-bar {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }

    .filter-bar {
        overflow-x: auto;
        white-space: nowrap;
    }

    .filter {
        display: inline-block;
    }

    .logo-container img {
        width: 80px;
    }

    .search-bar input[type="text"],
    .search-bar input[type="submit"] {
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {

    .top-header{
        gap: 100px;
    }

    .header-bar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .filter-bar {
        white-space: nowrap;
    }

    .filter {
        display: inline-block;
    }

    .logo-container img {
        width: 65px;
    }

    .search-bar input[type="text"],
    .search-bar input[type="submit"] {
        width: 100%;
        margin-top: 8px;
    }
}

@media (min-width: 1025px) {

    .header-bar {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .filter-bar {
        white-space: nowrap;
    }

    .filter {
        display: inline-block;
    }

    .logo-container img {
        width: 110px;
    }

    .search-bar input[type="text"],
    .search-bar input[type="submit"] {
        width: 100%;
        margin-top: 13px;
    }
}
